/* Global Styles */
#content-container {
    margin-top: 70px;
    margin-left: 25px;
    margin-right: 25px;
}

input.input-narrow {
    width: 50px !important;
}

/* Session Running */
#question-running {
    display: none;
}

#question-progress-bars {
    display: none;
}

#gathering-responses {
    display: none;
}